<section class="sidebar">
	<!-- div class="user-panel" ng-include="'/template/menu/user.html'"></div -->
	<!-- div ng-include="'/template/menu/searchForm.html'"></div -->
	<ul class="sidebar-menu">

		<li>
			<a ui-sref="home">
				<i class="fa fa-home"></i> <span>Home</span>
			</a>
		</li>
		<li>
			<a ui-sref="works">
				<i class="fa fa-tasks"></i> <span>Verifications Works</span>
			</a>
		</li>
		<li>
			<a ui-sref="about">
				<i class="fa fa-info"></i> <span>About</span>
			</a>
		</li>
		<li>
			<a ui-sref="backOffice">
				<i class="fa fa-cogs"></i> <span>Back Office</span>
			</a>
		</li>

	</ul>
</section>
